@keyframes move {
    0% {
        transform: translate(-100%, 100%);
      }
      25% {
        transform: translate(-100%, -100%);
      }
      50% {
        transform: translate(100%, -100%);
      }
      75% {
        transform: translate(100%, 100%);
      }
      100% {
        transform: translate(-100%, 100%);
      }
    }
  .animate-move {
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .sphere {
    border-radius: 40% / 30% ;
  }

  .trapezoid {
	border-bottom: 50px solid #555;
	border-left: 10px solid transparent;
  }
  
  .custom-radio {
    accent-color : #7d2da9;
  }